<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=GLEB\SQLEXPRESS;Initial Catalog=DbMap;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <add name="WpfApplication5.Properties.Settings.DbMapConnectionString" connectionString="Data Source=GLEB\SQLEXPRESS;Initial Catalog=DbMap;Integrated Security=True;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="Map" connectionString="metadata=res://*/map.csdl|res://*/map.ssdl|res://*/map.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GLEB\SQLEXPRESS;initial catalog=DbMap;integrated security=True;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DbMap" connectionString="metadata=res://*/Map.csdl|res://*/Map.ssdl|res://*/Map.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GLEB\SQLEXPRESS;initial catalog=DbMap;integrated security=True;multipleactiveresultsets=True;encrypt=False;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DbMapEntities" connectionString="metadata=res://*/MapModel.csdl|res://*/MapModel.ssdl|res://*/MapModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GLEB\SQLEXPRESS;initial catalog=DbMap;integrated security=True;multipleactiveresultsets=True;encrypt=False;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>